$bg-color: #F2F2F2;
$button-checked-red: #99260B;
$button-checked-orange: #AA351B; 
$button-unchecked: #9E9E9D;
$line-color:#9E9E9D;
$button-checked: #C4A892;
$color: #504235;
$note-color:#666666;
$highlight: #f9d7c0bb;

$title-font-size: 26pt;
$font-size:16pt;
$note-font-size:13pt;